//Tipografia
$fuente_principal: 'Montserrat', sans-serif;


// Colores
$verde: #2da8a8;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

//tamaÑos de media Queris

$telefono: 480px;
$tablet: 780px;
$desktop: 992px;
$desktopXL: 1200px;